<div class="left-bar">
  <button class="h1" type="button" name="CSR">CSR</button>
  <img class="admin-icon" [src]="'/content/images/dashboard/admin-icon-2@2x.png'" alt="admin icon">
  <hr class="vert-line">
  <div class="button-div">
  <button class="button-h" type="button" name="home">Home</button>
  <br>
  <button class="button-h" type="button" name="home">Categories</button>
  <br>
  <button class="button-h" type="button" name="home">Merchants</button>
  <br>
  <button class="button-h" type="button" name="home">Orders</button>
  <br>
  <button class="button-h" type="button" name="home">Profile</button>
  <br>
  <button class="button-h"type="button" name="home">Settings</button>
  <br>
  </div>
  <div class="choosen-category">
  </div>
</div>
<!-- end of left-bar -->