<section id="search" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group alignCenter paddingTop_15">
                <input type="text" class="form-control col-md-6" placeholder="Cookies..">
                <div class="col-md-1"></div>
                <input type="text" class="form-control col-md-4" placeholder="Location..">
            </div>
        </div>
    </div>
</section>
<div class="starter-template" style="border:1px solid black;">
    <img src="../../../content/images/cookies.png" class="cat_Logo" alt="Description"/>
    <h1>COOKEIS</h1>
</div>
