<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMerchantLabel" jhiTranslate="csrApp.merchant.home.createOrEditLabel">Create or edit a Merchant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!merchant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="merchant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="merchant.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="merchant.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="merchant.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                [(ngModel)]="merchant.login" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="merchant.password" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="merchant.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="merchant.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="merchant.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                [(ngModel)]="merchant.imageUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csrApp.merchant.photo" for="field_photo">Photo</label>
            <div>
                <img [src]="'data:' + merchant.photoContentType + ';base64,' + merchant.photo" style="max-height: 100px;" *ngIf="merchant.photo" alt="merchant image"/>
                <div *ngIf="merchant.photo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{merchant.photoContentType}}, {{byteSize(merchant.photo)}}</span>
                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_photo" (change)="setFileData($event, merchant, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="merchant.photo" />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                [(ngModel)]="merchant.photoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
