    <!-- end of container-div -->
    <div class="upper-bar">
      <h1 class="welcome-text">welcome back!</h1>
      <p class="name-text">Victor Vand</p>
      <div class="search-div">
      <input class="search-box" type="text" >
      <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <i class="fa fa-bell" aria-hidden="true"></i>
      <i class="fa fa-comments" aria-hidden="true"></i>
      <div class="user-img">
      </div>
      <p class="user-name"> Victor Vand </p>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
    <!--  end of upper-bar -->