<nav class="navbar bg-white">
    <div class="row col-md-2">
        <h4>KOOLAM.COM</h4>
    </div>
    <div class="col-md-8 container-fluid">
        <a class="font-weight-light" href="#">Cookeis</a>
        <a class="font-weight-light" href="#">Flower Round</a>
        <a class="font-weight-light" href="#">Photography</a>
        <a class="font-weight-light" href="#">Graphic</a>
        <a class="font-weight-light" href="#">Sewing</a>
        <a class="font-weight-light" href="#">Jewelry</a>
        <a class="font-weight-light" href="#">Digital Marketing</a>
    </div>
    <div class="row col-md-2"></div>
</nav>
