
<div *ngIf="userMerchant">
    <h2><span jhiTranslate="csrApp.userMerchant.detail.title">User Merchant</span> {{userMerchant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="csrApp.userMerchant.user">User</span></dt>
        <dd>
            {{userMerchant.user?.login}}
        </dd>
        <dt><span jhiTranslate="csrApp.userMerchant.merchant">Merchant</span></dt>
        <dd>
            <div *ngIf="userMerchant.merchant">
                <a [routerLink]="['/merchant', userMerchant.merchant?.id]">{{userMerchant.merchant?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-merchant/'+ userMerchant.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
